*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Gato{
    margin: auto;
    padding: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    height: 450px;
    width: 450px;
    position: relative;
    top: 2vh;
    right: auto;
    background-color: transparent;
    z-index: 5;
}

.Gatos {
    
    display: grid;
    place-items: center;
    border: 3px solid blue;
    color:cyan;
    overflow: hidden;
    max-width:  140px;
    max-height: 140px;
    min-height: 140px;
    min-width:  140px;
    font-size: 80px;
    text-align: center;
    cursor: pointer;
    position: relative;

    

}

.a{
border-left: none;
border-top: none;


}

.b{
    border-top: none;
    overflow: hidden;
    

}

.c{
    border-top: none;
    border-right: none;
    overflow: hidden;

}

.d{
    border-left: none;
    overflow: hidden;

}

.f{
    border-right: none;
    overflow: hidden;

}
.g{
    border-bottom: none;
    border-left: none;
    overflow: hidden;

}
.h{
    border-bottom: none;
    overflow: hidden;

}
.i{
    border-right: none;
    border-bottom: none;
    overflow: hidden;

}

.Reseat{
    position: absolute;
    top: 0vh;
    right: 0px;
    width: 80px;
    height: 50px;
    background-color: black;
    color: antiquewhite;
    font-size: 20px;
    cursor: pointer;
    
}

.aside{

    display: grid;
    background-color:  antiquewhite;
    position: absolute;
    width: 150px;
    height: 150px;
    left: 50px;
    text-align: center;
    top: 2vh;
    border: 2px solid black;
    margin-top: 1px;
    padding: auto;

}
.aside h1{
    position: relative;
    top: 1vh;
}

.asides{
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 1px solid black;
    
    
}

.jugadaGanadora{
    background-color: red;
}
.as{



background-color:darkcyan;

}
.bs{
    background-color:darkgrey;
    text-align: center;
}

.Turns{
    border-radius: 2px;
    color:darkred;

    background-color:black;
    position: absolute;
    width: auto;
    height: 50px;
    right: 570px;
    bottom: 13vh;
    text-align: center;
    font-size: 20px;
    display: grid;
    place-items: center;
    padding: 1%;
}

.anim{
    animation: movimientoLoco 1s infinite;
}
@keyframes movimientoLoco {
    0%{
        background-color: brown;

    }
    10%{
    background-color: chocolate;

    }
    20%{
background-color: chartreuse;
    }
    30%{
background-color: crimson;
    }
    40%{
background-color: blue
    }
    50%{
background-color: cornflowerblue;
    }
    60%{
background-color: forestgreen;
    }
    70%{
background-color: lime;
    }
    80%{
background-color: fuchsia;
    }
    90%{
background-color: aqua;
    }
    100%{
background-color: lightslategray
    }

    
}
body{
    background-image: url(https://img.freepik.com/fotos-premium/foto-lindos-fondos-pantalla-perros-gatos-pc_763111-18070.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cc1{
    animation: movimientoLocos 1s infinite;
    font-size: 80px;
    text-align: center;
    display: grid;
    place-items: center;
    max-width:  137px;
    max-height: 137px;
    min-height: 137px;
    min-width:  137px;
    font-size: 80px;
    background-color: transparent;
}

.cc2{
    animation: movimientoLocos 1s infinite;
    font-size: 80px;
    text-align: center;
    background-color: transparent;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
    max-width:  137px;
    max-height: 137px;
    min-height: 137px;
    min-width:  137px;
    font-size: 80px;
}

.cc3{
    animation: movimientoLocos 1s infinite;
    font-size: 80px;
    text-align: center;
    background-color: transparent;
    overflow: hidden;
    display: grid;
    place-items: center;
    max-width:  137px;
    max-height: 137px;
    min-height: 137px;
    min-width:  137px;
    font-size: 80px;
}

@keyframes movimientoLocos {
    0%{
    color: brown;

    }
    10%{
    color: chocolate;
    background-color: transparent;

    }
    20%{
    color: chartreuse;
    background-color: transparent;
    }
    30%{
    color: crimson;
    background-color: transparent;
    }
    40%{
    color: blue;
    background-color: transparent;
    }
    50%{
    color: cornflowerblue;
    background-color: transparent;
    }
    60%{
    color: forestgreen;
    background-color: transparent;
    }
    70%{
    color: lime;
    }
    80%{
    color: fuchsia;
    background-color: transparent;
    }
    90%{
    color: aqua;
    background-color: transparent;
    }
    100%{
    color: lightslategray;
    background-color: transparent;
    }
    
}
.resetC{
    z-index: 10;
    color: #000;
    background-color:transparent;
    width: auto;
    height: auto;
    border: none;
    cursor: pointer;
    text-align: center;
    font-size: 20px;
    padding: 1%;
}